{% from "macros.html" import confirm_del, add_star, view_course %} {% extends
"base.html" %} {% block head %}
<script src="{{ url_for('static', filename='starred.js') }}" defer></script>
<script src="{{ url_for('static', filename='course.js') }}" defer></script>
<style>
  .current-home {
    color: white;
    font-weight: bold;
  }
</style>
{% endblock %} {% block title %} Home {% endblock %} {% block body %}

<div class="main-content" style="padding-bottom: 70px">
  <div class="d-flex flex-nowrap" style="overflow-x: auto">
    {% for term in user.terms %}
    <div class="card m-2 flex-shrink-0" style="width: 450px; height: 82vh">
      <div
        class="card-header d-flex align-items-center"
        style="background-color: #eaab00"
      >
        <h5 class="card-title placeholder-glow mb-0 mt-0" style="color: white">
          {{ term.name }}
        </h5>
        <!-- Buttons trigger modal-->
        <div class="btn-group ms-auto" role="group">
          <button
            type="button"
            class="btn btn-dark"
            data-bs-toggle="modal"
            data-bs-target="#rename{{term.id}}"
            aria-label="Rename term"
          >
            Rename
          </button>
          <button
            type="button"
            class="btn btn-danger"
            data-bs-toggle="modal"
            data-bs-target="#delete{{term.id}}"
            aria-label="Delete term"
          >
            Delete
          </button>
        </div>
        <!-- Modal for renaming term -->
        <div
          class="modal fade"
          id="rename{{term.id}}"
          tabindex="-1"
          aria-labelledby="BackdropLabel"
          aria-hidden="true"
        >
          <div class="modal-dialog modal-sm modal-dialog-centered">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-5">Rename {{ term.name }}:</h1>
                <button
                  type="button"
                  class="btn-close"
                  data-bs-dismiss="modal"
                  aria-label="Close"
                ></button>
              </div>
              <div class="modal-body">
                <form method="POST">
                  <input
                    type="hidden"
                    name="rename_term"
                    value="{{ term.id }}"
                  />
                  <input
                    type="text"
                    class="form-control"
                    name="new_title"
                    placeholder="Enter new title"
                  />
                  <button
                    type="submit"
                    class="btn btn-primary d-flex ms-auto m-2"
                  >
                    Confirm
                  </button>
                </form>
              </div>
            </div>
          </div>
        </div>
        <!-- Modal for deleting term -->
        {{ confirm_del("delete" ~ term.id, "Delete " ~ term.name ~ ":", "All
        courses added to '" ~ term.name ~ "' will be removed. Starred courses
        may still be viewed in the 'Search' tab.", [("delete_term", term.id)])}}
        <!-- End of Modals -->
      </div>
      <div
        class="card-body p-0"
        style="overflow-y: auto; background-color: #fff4d2"
      >
        <ul class="list-group list-group-flush">
          <!-- Enter course message -->
          {% if not term.courses %}
          <h5
            class="card-title m-2"
            style="color: rgb(180, 180, 180); text-align: center"
          >
            <em> Add courses via 'Search' </em>
          </h5>
          {% endif %} {% for course in term.courses %}
          <li class="list-group-item" style="background-color: #fff4d2">
            <!-- Opens modal -->
            <h5
              class="card-title course-title"
              data-course-id="{{course.id}}"
              style="color: black"
            >
              {{ course.title }}
            </h5>
            {{ view_course(course.id, course.title, course.description,
            course.body) }}
            <p class="card-text" style="color: #787878">
              {{ course.description }}
            </p>
            <div class="d-flex justify-content-end">
              <div class="btn-group" role="group">
                {% if course in user.courses %} {{ add_star("starred",
                course.id) }} {% else %} {{ add_star("notstarred", course.id) }}
                {% endif %}
                <button
                  type="button"
                  class="btn btn-danger"
                  data-bs-toggle="modal"
                  data-bs-target="#removecourse{{course.id}}_{{term.id}}"
                  aria-label="Remove course"
                >
                  <span aria-hidden="true">&times;</span>
                </button>
                <!-- Modal for deleting course from term -->
                {{ confirm_del("removecourse" ~ course.id ~ "_" ~ term.id,
                "Remove course:", "\"" ~ course.title ~ "\" will be removed from
                '" ~ term.name ~ "'.", [("remove_course", course.id),
                ("from_term", term.id)])}}
              </div>
            </div>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
    {% endfor %}
    <div class="card m-2 flex-shrink-0" style="width: 400px; height: 82vh">
      <div
        class="card-header d-flex align-items-center"
        style="background-color: #eaab00"
      >
        <h5 class="card-title placeholder-glow mb-0 mt-0" style="color: white">
          New Term
        </h5>
        <!-- Button trigger modal (Add Term) -->
        <button
          type="button"
          class="btn btn-primary ms-auto"
          data-bs-toggle="modal"
          data-bs-target="#addterm"
        >
          Create!
        </button>
        <!-- Modal -->
        <div
          class="modal fade"
          id="addterm"
          data-bs-backdrop="static"
          data-bs-keyboard="false"
          tabindex="-1"
          aria-labelledby="staticBackdropLabel"
          aria-hidden="true"
        >
          <div class="modal-dialog modal-sm modal-dialog-centered">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-5">Create Term:</h1>
                <button
                  type="button"
                  class="btn-close"
                  data-bs-dismiss="modal"
                  aria-label="Close"
                ></button>
              </div>
              <div class="modal-body">
                <form method="POST">
                  <input
                    type="text"
                    class="form-control"
                    name="name_term"
                    placeholder="Enter title for term"
                  />
                  <button
                    type="submit"
                    class="btn btn-primary d-flex ms-auto m-2"
                  >
                    Confirm
                  </button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div
        class="card-body p-0"
        style="overflow-y: auto; background-color: #fff4d2"
      >
        <ul class="list-group list-group-flush">
          {% for _ in range(6) %}
          <li class="list-group-item" style="background-color: #fff4d2">
            <h5 class="card-title placeholder-glow" style="color: black">
              <span class="placeholder col-{{ range(5,9) | random }}"></span>
            </h5>
            <p class="card-text placeholder-glow" style="color: #787878">
              <span class="placeholder col-{{ range(3,9) | random }}"></span>
              <span class="placeholder col-{{ range(3,9) | random }}"></span>
              <span class="placeholder col-{{ range(3,9) | random }}"></span>
            </p>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</div>
{% endblock %}
