{% from "macros.html" import view_course %} {% extends "base.html" %} {% block
head %}
<script src="{{ url_for('static', filename='search.js') }}" defer></script>
<style>
  .current-search {
    color: white;
    font-weight: bold;
  }
</style>
{% endblock %} {% block title %} Search {% endblock %} {% block body %}
<div
  class="card m-2 mx-auto"
  style="width: 95%; height: 75vh; background-color: #fed34c"
>
  <div class="card-header d-flex m-2">
    <input
      class="form-control form-control-lg m-1"
      id="searchBar"
      type="text"
      placeholder="Type course or related keyword (At least 3 characters)"
      aria-label="Course search bar"
      autofocus
    />
    <button
      type="button"
      class="btn btn-dark"
      id="viewCart"
      data-bs-toggle="modal"
      data-bs-target="#viewCartModal"
    >
      Cart
    </button>
    <!-- Cart Modal -->
    <div class="modal fade" id="viewCartModal" tabindex="-1" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header" style="background-color: black">
            <h3 style="color: white">Cart <small> (View Only) </small></h3>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
              style="background-color: white"
            ></button>
          </div>
          <div class="modal-body" id="viewCartModalBody"></div>
          <div class="modal-footer">
            <button type="button" class="btn btn-dark" data-bs-dismiss="modal">
              Close
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card-body" style="overflow-y: auto">
    <!-- Shows Results Here -->
    <ul class="list-group" id="showResults"></ul>
    <!-- Course Viewer Modal -->
    <div class="modal fade" id="courseViewerModal" tabindex="-1" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header" style="background-color: black">
            <h5 class="modal-title" style="color: white"></h5>
            <button
              type="button"
              class="btn-close"
              style="background-color: #fcba03"
              data-bs-dismiss="modal"
            ></button>
          </div>
          <div class="modal-body">
            <h3 style="color: #fcba03">Description</h3>
            <p class="h6 modal-body-text" style="font-size: large"></p>
          </div>
          <div class="modal-footer"></div>
        </div>
      </div>
    </div>
  </div>
</div>
<div style="padding-bottom: 70px">
  <button
    type="button"
    id="checkoutTerm"
    class="btn btn-primary btn-lg d-flex mx-auto"
  >
    Checkout
  </button>
</div>

{% endblock %}
